.submenu-popup {
  color: black;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-size: 0.75rem;
  position: absolute;
  z-index: 2;

  &.display-none {
    display: none;
  }

  .submenu-popup-title {
    background-color: rgba(23, 104, 196, 0.1);
    border-bottom: solid 0.042rem #F1F3F6;
    font-weight: bold;
    line-height: 0.708rem;
    overflow: hidden;
    padding: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .submenu-popup-options {
    list-style: none;
    margin: 0;
    padding: 0.25rem;

    .submenu-popup-option {
      background: transparent;
      border: 0;
      color: #363b42;
      cursor: pointer;
      line-height: 0.708rem;
      overflow: hidden;
      padding: 0.5rem;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;

      &.display-none {
        display: none;
      }

      &::before {
        font-family: "Material Icons";
        margin-right: 0.3em;
        line-height: 1;
        vertical-align: bottom;
      }

      &.submenu-popup-option-edit-label::before {
        content: "\e3c9";
      }

      &.submenu-popup-option-move-up::before {
        content: "\e5d8";
      }

      &.submenu-popup-option-move-down::before {
        content: "\e5db";
      }

      &.submenu-popup-option-hierarchy-up::before {
        content: "\e5c4";
      }

      &.submenu-popup-option-hierarchy-down::before {
        content: "\e5c8";
      }

      &.submenu-popup-option-delete::before {
        content: "\e872";
      }
    }

    .submenu-popup-option:hover {
      background-color: rgba(23, 104, 196, 0.1);
    }
  }

  &.keyboard {
    .submenu-popup-option:focus {
      background-color: rgba(23, 104, 196, 0.1);
    }
  }
}
