@import "@styles/h5p-editor-portfolio-main";

$icon-button-preview-blue: url("@assets/button-preview-icon-blue.svg");
$icon-button-preview-white: url("@assets/button-preview-icon-white.svg");
$icon-button-preview-grey: url("@assets/button-preview-icon-grey.svg");
$icon-button-export-blue: url("@assets/button-export-icon-blue.svg");
$icon-button-export-white: url("@assets/button-export-icon-white.svg");
$icon-button-export-grey: url("@assets/button-export-icon-grey.svg");
$icon-button-delete-blue: url("@assets/button-delete-icon-blue.svg");
$icon-button-delete-white: url("@assets/button-delete-icon-white.svg");
$icon-button-delete-grey: url("@assets/button-delete-icon-grey.svg");

.toolbar-tool-bar {
  align-items: center;
  box-shadow: 10px 10px 30px $color-shadow-light;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-bottom : .5em;
  overflow: hidden;
  padding: .5em;
  width: 100%;

  .toolbar-page-announcer {
    color: $color-joubelui-button;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }

  .toolbar-button {
    background-image: $icon-button-preview-blue;

    &.toolbar-button-preview {
      background-image: $icon-button-preview-blue;

      &.toolbar-button-disabled {
        background-image: $icon-button-preview-grey;
      }

      &.toolbar-button-active {
        background-image: $icon-button-preview-white;
        background-color: $color-primary;

        &:hover {
          background-color: $color-primary-90;
        }
      }
    }

    &.toolbar-button-export {
      background-image: $icon-button-export-blue;

      &.toolbar-button-disabled {
        background-image: $icon-button-export-grey;
      }

      &.toolbar-button-active {
        background-image: $icon-button-export-white;
        background-color: $color-primary;

        &:hover {
          background-color: $color-primary-90;
        }
      }
    }

    &.toolbar-button-delete-hidden {
      background-image: $icon-button-delete-blue;

      &.toolbar-button-disabled {
        background-image: $icon-button-delete-grey;
      }

      &.toolbar-button-active {
        background-image: $icon-button-delete-white;
        background-color: $color-primary;

        &:hover {
          background-color: $color-primary-90;
        }
      }
    }
  }
}
