.h5peditor-portfolio-chapter-navigation {
  align-items: center;
  box-shadow: 0.625em 0.625em 1.875em rgb(166 166 166 / 20%);
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  min-width: 15rem;

  .h5peditor-portfolio-chapter-navigation-maintitle {
    background-color: #1768C4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    h2.navigation-title {
      color: #fff;
      font-size: 1em;
      font-weight: 400;
      overflow: hidden;
      padding-left: 1.25em;
      text-decoration: none solid #fff;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .h5peditor-portfolio-chapter-button-separator {
    border-right: .2em solid #1768C4;
    height: .75em;
  }

  .h5peditor-portfolio-chapter-button-add {
    background: #1768C4;
    border-radius: 50%;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    height: 2em;
    width: 2em;

    &:hover {
      background: rgba(23, 104, 196, 0.9);
    }

    &:focus {
      box-shadow: 0 0 16px 0 rgb(133 188 255 / 84%);
    }
  }
}
