.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.spinner-none {
    display: none;
  }

  .spinner {
    display: inline-block;
    position: relative;
    width: 4.5em;
    height: 4.5em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 4em;
    height: 4em;
    margin: .5em;
    border: .5em solid #999;
    border-radius: 50%;
    animation: h5p-agamotto-spinner 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
    border-color: #999 transparent transparent transparent;

    .spinner-circle-head {
      animation-delay: -.45s;
    }

    .spinner-circle-neck-upper {
      animation-delay: -.3s;
    }

    .spinner-circle-neck-lower {
      animation-delay: -.15s;
    }

    .spinner-circle-body {
      animation-delay: 0;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
